<h1>Asset</h1>

<table>
  <tr>
    <th class="tableshow">Tag</th>
    <th class="tableshow">Network Name</th>
    <th class="tableshow">Make</th>
    <th class="tableshow">Model</th>
    <th class="tableshow">Serial</th>
    <th class="tableshow">Category</th>    
    <th class="tableshow">Warranty Expires</th>
    <th class="tableshow">Location</th>
    <th class="tableshow">Assigned To</th>
    <th class="tableshow">Status</th>
    <th class="tableshow">Updated</th>
  </tr>

  <tr>
    <td class="tableshow"><%=h asset.tag %></td>
    <td class="tableshow"><%=h asset.name %></td>
    <td class="tableshow"><%=h asset.make %></td>
    <td class="tableshow"><%=h asset.model %></td>
    <td class="tableshow"><%=h asset.serial %></td>
    <td class="tableshow"><%=h asset.category %></td>
    <td class="tableshow"><%=h asset.warranty %></td>
    <td class="tableshow"><%=h asset.location %></td>
    <td class="tableshow"><%=h asset.assigned %></td>
    <td class="tableshow"><%=h asset.status %></td>
    <td class="tableshow"><%=h asset.updated %></td>
  </tr>
</table>

